backend/bin
backend/mysql/data
backend/mysql/logs
backend/mysql/.env
backend/influxdb2/.env
backend/influxdb2/data
backend/influxdb2/config
backend/delivery-system.exe
backend/insert_query_generator.py
backend/shared_config
backend/redis/data
backend/redis/.env
